@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
@font-face {
  font-family: IconFont;
  font-display: swap;
  src: url(../fonts/IconFont.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=" icon-"]:before {
  font-family: IconFont;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block
}
.icon-arrow:before {
  content: "a"
}
.icon-arrow-countour:before {
  content: "b"
}
.icon-bath:before {
  content: "c"
}
.icon-bed:before {
  content: "d"
}
.icon-briefcase:before {
  content: "e"
}
.icon-close:before {
  content: "f"
}
.icon-copy:before {
  content: "g"
}
.icon-family:before {
  content: "h"
}
.icon-form:before {
  content: "i"
}
.icon-frame:before {
  content: "j"
}
.icon-house:before {
  content: "k"
}
.icon-key:before {
  content: "l"
}
.icon-location:before {
  content: "m"
}
.icon-star-countour:before {
  content: "n"
}
.icon-star:before {
  content: "o"
}
.icon-square:before {
  content: "p"
}
.icon-social-twitter:before {
  content: "q"
}
.icon-social-linkedin:before {
  content: "r"
}
.icon-social-instagram:before {
  content: "s"
}
.icon-social-facebook:before {
  content: "t"
}
.icon-search:before {
  content: "u"
}
.icon-passsport:before {
  content: "v"
}
.icon-page:before {
  content: "w"
}
:root {
  --fontFamilyFontIcons: "IconFont";
  --headerHight: 5rem;
  --headerHightMobile: 3.125rem;
  --footerHight: 4.5rem;
  --footerHightMobile: 2.75rem;
  --headerUpperBlock: 2.625rem;
  --popusForHeader: 1.875rem
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #65665c;
  line-height: 1;
  font-family: Roboto;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: inherit;
  font-size: inherit
}
address,
em,
i {
  font-style: normal
}
img {
  vertical-align: top
}
button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}
button {
  color: inherit;
  background-color: transparent
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
textarea {
  resize: vertical
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.rating {
  display: inline-block
}
.rating__items {
  display: inline-flex;
  align-items: flex-start;
  gap: .25rem
}
.rating__item {
  flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjgxNTcgNy4xMjMyNUwxMi44NjcyIDYuNTI0MDdMMTAuMTUxNiAwLjEyNjQ2NUw3LjQzNjAxIDYuNTMzNzRMMC40ODc1NDkgNy4xMjMyNUw1Ljc2NDEzIDExLjY5NDNMNC4xNzkyMiAxOC40ODgyTDEwLjE1MTYgMTQuODgzNUwxNi4xMjQgMTguNDg4MkwxNC41NDg4IDExLjY5NDNMMTkuODE1NyA3LjEyMzI1Wk0xMC4xNTE2IDEzLjA3NjNMNi41MTc5MiAxNS4yNzAxTDcuNDg0MzMgMTEuMTMzOEw0LjI3NTg2IDguMzUwNThMOC41MDg3MiA3Ljk4MzM1TDEwLjE1MTYgNC4wODg3M0wxMS44MDQyIDcuOTkzMDFMMTYuMDM3IDguMzYwMjVMMTIuODI4NiAxMS4xNDM1TDEzLjc5NSAxNS4yNzk3TDEwLjE1MTYgMTMuMDc2M1oiIGZpbGw9IiNFREQxNDYiLz4KPC9zdmc+Cg==) 0 0/1.25rem no-repeat;
  transition: all .3s
}
.rating__item--active {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjA5MjMgMTQuODgzNUwxNi4wNjQ3IDE4LjQ4ODJMMTQuNDc5OCAxMS42OTQzTDE5Ljc1NjMgNy4xMjMyNUwxMi44MDc5IDYuNTMzNzRMMTAuMDkyMyAwLjEyNjQ2NUw3LjM3NjY4IDYuNTMzNzRMMC40MjgyMjMgNy4xMjMyNUw1LjcwNDggMTEuNjk0M0w0LjExOTg5IDE4LjQ4ODJMMTAuMDkyMyAxNC44ODM1WiIgZmlsbD0iI0VERDE0NiIvPgo8L3N2Zz4K) 0 0/1.25rem no-repeat
}
.rating__item span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 1.25rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjA5MjMgMTQuODgzNUwxNi4wNjQ3IDE4LjQ4ODJMMTQuNDc5OCAxMS42OTQzTDE5Ljc1NjMgNy4xMjMyNUwxMi44MDc5IDYuNTMzNzRMMTAuMDkyMyAwLjEyNjQ2NUw3LjM3NjY4IDYuNTMzNzRMMC40MjgyMjMgNy4xMjMyNUw1LjcwNDggMTEuNjk0M0w0LjExOTg5IDE4LjQ4ODJMMTAuMDkyMyAxNC44ODM1WiIgZmlsbD0iI0VERDE0NiIvPgo8L3N2Zz4K) 0 0/1.25rem no-repeat
}
.rating__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: .25rem;
  -webkit-transform: translateX(100%);
  transform: translateX(100%)
}
[data-rating=set] .rating__item:not(:last-child)::after {
  cursor: pointer
}
.rating__input {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block
}
[data-rating=set] .rating__input {
  cursor: pointer
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.customers--speaking {
  background-color: #fff;
  padding: clamp(2.188rem,1.25rem + 4.69vw,5rem) 0 clamp(2.188rem,-.417rem + 13.02vw,10rem) 0
}
.container__title-main {
  color: #2a2c1f;
  font-size: clamp(2.5rem,2.333rem + .83vw,3rem);
  font-weight: 700;
  line-height: 1.2;
  text-align: center
}
.container__title-main:not(:last-child) {
  margin-bottom: clamp(1.375rem,1.292rem + .42vw,1.625rem)
}
.container__paragraph {
  color: #65665c;
  font-size: clamp(1rem,.958rem + .21vw,1.125rem);
  line-height: 1.5;
  text-align: center
}
.container__paragraph:not(:last-child) {
  margin-bottom: clamp(1.25rem,6.25vw,5rem)
}
.container__paragraph p:not(:last-child) {
  margin-bottom: .625em
}
.container__slider {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  row-gap: 20px
}
.container__wrapper {
  display: flex;
  width: 100%;
  height: 100%
}
.container__slide {
  border-radius: 1rem;
  border: .0625rem solid #e7e8e3;
  background: #fff;
  box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.08);
  padding: clamp(.75rem,.313rem + 2.19vw,2.063rem);
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column
}
.slide__setup:not(:last-child) {
  margin-bottom: 1.6875em
}
.slide__paragraph {
  color: #2a2c1f;
  font-size: 1.125rem;
  line-height: 1.5;
  flex-grow: 1;
  height: 100%
}
.slide__paragraph:not(:last-child) {
  margin-bottom: 1.8125em
}
.slide__paragraph p:not(:last-child) {
  margin-bottom: .625em
}
.slide__customer {
  flex-grow: 1;
  display: flex;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  align-items: center
}
.slide__img-inner {
  overflow: hidden;
  width: 3em;
  height: 3em;
  border-radius: 50%
}
.slide__pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.slide__name {
  color: #2a2c1f;
  font-weight: 700;
  line-height: 1.5
}
.slide__name:not(:last-child) {
  margin-bottom: .25em
}
.slide__signature {
  color: #65665c;
  line-height: 1.5
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (any-hover:hover) {
  [data-rating=set] .rating__items:hover .rating__item {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjA5MjMgMTQuODgzNUwxNi4wNjQ3IDE4LjQ4ODJMMTQuNDc5OCAxMS42OTQzTDE5Ljc1NjMgNy4xMjMyNUwxMi44MDc5IDYuNTMzNzRMMTAuMDkyMyAwLjEyNjQ2NUw3LjM3NjY4IDYuNTMzNzRMMC40MjgyMjMgNy4xMjMyNUw1LjcwNDggMTEuNjk0M0w0LjExOTg5IDE4LjQ4ODJMMTAuMDkyMyAxNC44ODM1WiIgZmlsbD0iI0VERDE0NiIvPgo8L3N2Zz4K) 0 0/1.25rem no-repeat
  }
  [data-rating=set] .rating__item:hover ~ .rating__item {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjgxNTcgNy4xMjMyNUwxMi44NjcyIDYuNTI0MDdMMTAuMTUxNiAwLjEyNjQ2NUw3LjQzNjAxIDYuNTMzNzRMMC40ODc1NDkgNy4xMjMyNUw1Ljc2NDEzIDExLjY5NDNMNC4xNzkyMiAxOC40ODgyTDEwLjE1MTYgMTQuODgzNUwxNi4xMjQgMTguNDg4MkwxNC41NDg4IDExLjY5NDNMMTkuODE1NyA3LjEyMzI1Wk0xMC4xNTE2IDEzLjA3NjNMNi41MTc5MiAxNS4yNzAxTDcuNDg0MzMgMTEuMTMzOEw0LjI3NTg2IDguMzUwNThMOC41MDg3MiA3Ljk4MzM1TDEwLjE1MTYgNC4wODg3M0wxMS44MDQyIDcuOTkzMDFMMTYuMDM3IDguMzYwMjVMMTIuODI4NiAxMS4xNDM1TDEzLjc5NSAxNS4yNzk3TDEwLjE1MTYgMTMuMDc2M1oiIGZpbGw9IiNFREQxNDYiLz4KPC9zdmc+Cg==) 0 0/1.25rem no-repeat
  }
  [data-rating=set] .rating__item:hover ~ .rating__item span {
    display: none
  }
}